<div class="locationInfoWrap">
  <div class="c-title">
    Información familiar 家庭信息
  </div>

  <div class="dataWrap">
    <nz-spin *ngIf='!familyInfo'>
    </nz-spin>

    <div *ngIf='familyInfo' class="c-flex-row-allStart c-flex-auto-wrap">

      <div class="c-data-section c-flex-row-allStart" *ngFor="let item of ('orderModule.auth.familyInfo' | translate)">
        <div class="c-data-title">
        {{ item.name }} :
        </div>
        <div class="c-data-data" *ngIf="item.pip === 'nullPipe'">
          {{ familyInfo[item.reflect] | nullPipe }}
        </div>
        <div class="c-data-data" *ngIf="item.pip === 'homeTypePipe'">
            {{ familyInfo[item.reflect] | AdrTypePipe }}
        </div>
        <div class="c-data-data" *ngIf="item.pip === 'homeAddress'">
            {{ familyInfo[item.reflect] }}--{{ familyInfo.homeAddress }}--{{ familyInfo.homeBlock }}--{{ familyInfo.homeMpio}}--{{ familyInfo.homeCity }}--{{ familyInfo.homeState }}--
        </div>
        <div class="c-data-data" style="color:blue;cursor:pointer;" *ngIf="item.pip === 'img'" (click)="showImg(item.reflect)">
            {{ "common.operate.clickSee" | translate }}
        </div>
      </div>

    </div>

  </div>
</div>
 <!-- {{ familyInfo.homeAddress || "no" }} -->
