<div class="c-content-wrap">
    <div class="c-search-wrap">
        <div class="c-search-group c-search-border">
            <div class="c-search-itemLeft c-search-toggle" [ngClass]="{'title-active':isLoanActive}" (click)="orderToggle('loan')">{{ "financeModule.list.table.exceptionLoan" | translate}}</div>
            <div class="c-search-itemLeft c-search-toggle" [ngClass]="{'title-active':isRepayActive}" (click)="orderToggle('repay')">{{ "financeModule.list.table.exceptionRepay" | translate}}</div>
        </div>
        <div class="c-search-group">
            <!-- <nz-month-picker nzShowTime></<nz-month-picker> -->
            <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "financeModule.list.table.serialCreateTime" | translate}}:
                </div>
                <div class="c-search-itemRight">
                    <nz-date-picker [nzPlaceHolder] = '" "' [(ngModel)]="searchModel.startTime"></nz-date-picker>
                    <span style="color:#999"> ~ </span>
                    <nz-date-picker [nzPlaceHolder] = '" "' [(ngModel)]="searchModel.endTime"></nz-date-picker>
                </div>
    
                <div class="c-search-item" style="margin-left: 20px">
                    <div class="c-search-itemLeft">
                            {{ "financeModule.list.table.userName" | translate}}:
                    </div>
                    <div class="c-search-itemRight">
                        <input nz-input type="text" [(ngModel)] = 'searchModel.userName'>
                    </div>
                </div>
            </div>
            <div class="c-search-item">
                <div class="c-search-itemLeft">
                    {{ "financeModule.list.table.serialNo" | translate}}:
                </div>
                <div class="c-search-itemRight">
                    <input nz-input type="text" [(ngModel)] = 'searchModel.transactionId'>
                </div>
            </div>       
        </div>                                              
        <div class="c-search-btnGroup">
            <button nz-button nzType="primary"  (click) = 'getList() '>
                {{ "common.search" | translate}}
            </button>
            <button style="margin-left: 20px;" nz-button (click) = 'reset() '>
                {{ "common.reset" | translate}}
            </button>
            <button style="margin-left: 20px;" nz-button (click)='export()'>
                {{ "financeModule.list.table.exportExcel" | translate}}
            </button>
        </div>
    </div>
    
    <c-table [tableData] = 'tableData'></c-table>
    <div class="c-pag">
        <nz-pagination [nzShowTotal]="totalTemplate" (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
        <ng-template #totalTemplate let-total>
            <span>
                {{ "common.total" | translate }}
            </span>
            <span>
                {{ totalSize }}
            </span>
            <span>
                {{ "common.pageUnit" | translate }}
            </span>
        </ng-template>
    </div>
</div>
